<template>
    <nav class="menu">
        <ul class="slds-grid slds-wrap">
            <template for:each={menu} for:item="menuItem">
                <li
                    key={menuItem.key}
                    class="menu-item slds-grid slds-size_1-of-1"
                >
                    <div class="slds-col slds-size_1-of-6 menu-icon">
                        <lightning-icon
                            icon-name={menuItem.icon}
                            alternative-text={menuItem.title}
                            title={menuItem.title}
                        ></lightning-icon>
                    </div>
                    <div class="slds-col slds-size_5-of-6 menu-title">
                        <a href={menuItem.link}>{menuItem.title}</a>
                    </div>
                </li>
            </template>
        </ul>
    </nav>
</template>
